/* select */

.number {
    height: 50px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
}

.number_select {
    border: solid 2px #c1d9fc;
    border-radius: 2px;
    background: #fff;
}